@import "./breakpoint";

body {
  @include small-up {
    background-color: red;
  }

  @include medium-up {
    background-color: green;
  }

  @include large-up {
    background-color: blue;
  }

  @include large-up {
    background-color: yellow;
  }

  @include xlarge-up {
    background-color: purple;
  }

  @include xxlarge-up {
    background-color: black;
  }

  // custom media min 1300 and max 1400
  @include media-between(1300, 1400) {
    background-color: brown;
  }
}
